.mixin.out/
backup/
crash-reports/
logs/
screenshots/
data/
Distant_Horizons_server_data/
downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
ESM/
local/
saves/
.qmenu_opened.marker
command_history.txt
emi.json
imgui.ini
observable_announce
patchouli_data.json
TrashSlotSaveState.json
usernamecache.json
usercache.json
minecraftinstance.json
WaypointData.dat