*
!*/
!config/
!config/**
!datapacks/
!datapacks/**
!defaultconfigs/
!defaultconfigs/**
!fancymenu_data/
!fancymenu_data/**
!journeymap/
!journeymap/**
!kubejs/
!kubejs/**
!mods/
!mods/**
!resourcepacks/
!resourcepacks/**
!shaderpacks/
!shaderpacks/**
!options.txt
!servers.dat